<div class="container-bg">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://4.bp.blogspot.com/-n1qgamr4hH8/TYIKm0gcDRI/AAAAAAAAAaw/H49OewR-o_8/s1600/George%2BMeli%25C3%25A8s1.jpg);">
  <div class="container">
    <h1>
      <span id='banner-typed-text'></span>
    </h1>
    <p>Crie sua própria lista de filmes e divirta-se!</p>
  </div>
  </div>
</div>

<div class="container-list">
  <tbody>
    <% @lists.each do |list| %>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1456&q=80" />
        <div class="card-product-infos">
          <h2><%= list.name %></h2>
          <%= link_to 'Conheça essa lista!', list_path(list), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </tbody>
</div>
